# n+1.0
# n!*(n+1.0)
# sum+1.0/n!

# sum(1/n!)
# 1/1 + 1/1 + 1/(1 * 2) + 1/(1 * 2 * 3) + ...
   push 1.0       # n
   push 1.0       # n!
   push 1.0       # sum
loop:
   push 1.0
   dup 2
   divf
   addf

   swap 2
   push 1.0
   addf
   dup 0
   swap 2
   mulf

   swap 1
   swap 2

   dup 2
   push 100.0
   gef

   jumpif loop

   halt
